*{
    margin: 0;
    padding: 0;  
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: paleturquoise;
}

#cuerpo{
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: min(50em, 100%);
    margin: 1em auto;
    padding: 2em 2em;
}

.encabezado{
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: min(50em, 100%);
    margin: 0 auto;
    padding: 2em 2em;
}

.piepagina{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: min(50em, 100%);
    margin: 1em auto;
    padding: 2em 2em;
}

h1{
    font-size: 35px;
    text-align: center;
}

.encabezado h1{
    font-size: 45px;
    text-align: center;
    color: white;
}

h2{
    font-size: 35px;
    text-align: center;
}

.piepagina h2{
    font-size: 35px;
    text-align: center;
    color: black;
}

.lab{
    font-size: 35px;
    text-align: center;
    margin: 0.25em 0;
}

input{
    font-size: 25px;
    height: 45px;
    width: 15%;
    text-align: center;
    margin: 0.5em auto;
}

p{
    font-size: 40px;
    text-align: center;
}

button{
    width: 85px;
    width: 400px;
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
    margin: 0.5em auto;
}

select{
    height: 45px;
    width: 15%;
    font-size: 25px;
    text-align: center;
    margin: 0.5em auto;
}